<article class="flex border-gray-300 rounded-lg border bg-white card-box md:w-100 md:mr-4">
    <div class="flex-auto p-6">
      <div class="flex flex-wrap mb-4">
        <h1 class="flex-auto text-xl font-semibold">
          Classic Utility Jacket
        </h1>
        <div class="flex flex-col pl-4">
            <p class="text-xl font-semibold text-gray-500">
                $110.00
              </p>
              <p class="text-sm text-gray-500">
                  Free shipping.
              </p>

        </div>
      </div>
      <div class="flex space-x-3 text-sm font-medium">
        <div class="flex-auto flex space-x-3">
          <button class="w-1/2 bg-yellow-700 text-white flex py-2 items-center justify-center rounded-md border border-gray-300" type="button">Add to bag</button>
        </div>
      </div>
    </div>
</article>
