<article class="flex p-6 space-x-4 border rounded-lg bg-white mb-6">
    <div class="min-w-0 relative flex-auto">
        <h2 class="mb-2 text-base text-xl font-semibold text-black truncate">{{item.name}}</h2>
        <div class="flex flex-wrap text-sm font-medium whitespace-pre">
            <div class="top-0 right-0 w-full rounded-full bg-amber-50 text-amber-900 py-0.5 sm:flex justify-between space-x-1">
                <div class="">
                    <h3>Precio por unidad: {{item.runtimeInMinutes}} €</h3>
                    <h3>Precio total: {{total}} €</h3>
                </div>
                <div class="flex items-center">
                    <button class="px-4 py-2 bg-yellow-700 hover:bg-yellow-900 rounded-lg text-white font-bold">-</button>
                    <p class="mx-4 mb-0">x {{item.quantity}}</p>
                    <button class="px-3 py-2 bg-yellow-700 hover:bg-yellow-900 rounded-lg text-white font-bold">+</button>
                </div>
            </div>
            <div class="flex justify-end w-full mt-8">
                <button class="px-6 hover:bg-yellow-700 text-yellow-700 border-yellow-700   hover:text-white flex py-2 items-center justify-center rounded-md border">Eliminar todo</button>
            </div>
        </div>
    </div>
</article>
